<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Shakespearean Insult Generator</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel="icon" type="image/png" href="assets/images/favicon.png">

</head>
<body>

  <div class="container">
    <div class="twelve columns" style="margin-top: 3%">
    <img src="assets/images/shakespeare.jpg" id="bill" alt="William Shakespeare" height="50%" width="50%" class="u-max-full-width"/>
      <form action="/">
        <h4>{{.}}</h4>
        <input class="button-primary" type="submit" value="Generate"><br/>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://insult.bruston.uk" data-text="{{.}}" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </form>
    </div>
  </div>

</body>
</html>
